#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Time-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Date-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_406 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}