#s-09844944-059c-46c9-bf47-b654aa4a2dda > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Lock-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 420px;
  height: 736px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Background_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Time-Label {
  position: absolute;
  top: 63px;
  left: 118px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 70.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Time-Label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Time-Label span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 70.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Time-Label span#rtr-s-Time-Label_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 70.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Date-Label {
  position: absolute;
  top: 172px;
  left: 0px;
  width: 414px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Date-Label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Date-Label span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Date-Label span#rtr-s-Date-Label_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_406 {
  position: absolute;
  top: 670px;
  left: 6px;
  width: 414px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_406 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_406 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_406 span#rtr-s-Label_406_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_1 > svg {
  width: 28px;
  height: 28px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_1 {
  position: absolute;
  top: 696px;
  left: 367px;
  width: 28px;
  height: 28px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 20px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Rectangle_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Rectangle_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_100 {
  position: absolute;
  top: 0px;
  left: 169px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_100 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_100 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_100 span#rtr-s-Label_100_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Group_25 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_38 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_38 .content {
  width: 6px;
  height: 6px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_38 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_38 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_38 span#rtr-s-Ellipse_38_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_39 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_39 .content {
  width: 6px;
  height: 6px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_39 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_39 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_39 span#rtr-s-Ellipse_39_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_40 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_40 .content {
  width: 6px;
  height: 6px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_40 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_40 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_40 span#rtr-s-Ellipse_40_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_41 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_41 .content {
  width: 6px;
  height: 6px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_41 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_41 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_41 span#rtr-s-Ellipse_41_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_42 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_42 .content {
  width: 6px;
  height: 6px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Ellipse_42 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_42 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #shapewrapper-s-Ellipse_42 span#rtr-s-Ellipse_42_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_107 {
  position: absolute;
  top: 1px;
  left: 340px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_107 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_107 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Label_107 span#rtr-s-Label_107_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_10 {
  position: absolute;
  top: 5px;
  left: 380px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_28 > svg {
  width: 17px;
  height: 17px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_28 {
  position: absolute;
  top: 1px;
  left: 41px;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_29 > svg {
  width: 14px;
  height: 14px;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda #s-Image_29 {
  position: absolute;
  top: 3px;
  left: 336px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-09844944-059c-46c9-bf47-b654aa4a2dda > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}