#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Background_11 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Bar_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-CircleLarge_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-CircleMedium_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-CircleSmall_1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-CircleSmall_2_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-CircleSmall_3_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-CircleSmall_4_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-CircleSmall_5_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Mask {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Background_1 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-iconarea {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Menux30 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-iconarea_1 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-PicturePlaceholder {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-TITLEVIEW_HERE {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-StatusBar {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Overlay {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-ITEMONE {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-BoudningBox {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-MenuBackground {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-MenuTop {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-USERNAME {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Ellipse_7 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 7px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 7px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-232521eb-ba69-4ad3-a8d4-e7cf9c1728b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}