#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Mask_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Mask_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Line_3 {
  rotation: 270.0;
  margin-left: 190px;
  margin-top: -191px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Line_4 {
  rotation: 179.0;
  margin-left: -2px;
  margin-top: -2px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Rich_text_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: alpha(opacity=66);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Avatarx40_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Profile_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Rich_text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Ellipse_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: alpha(opacity=66);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Rich_text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-TitleText_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-TitleText_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Profile_img_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-Backdrop_Transparent_Rectangle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de #s-ARMAP {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-264c4ef7-8fab-4f6f-b65b-258a8a45e5de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}