#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Three_3_Min {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Mask_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Map_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Rich_text_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Schedule_A_Ride {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_Search_Bar {
  rotation: 90.0;
  margin-left: 10px;
  margin-top: -10px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_10 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.788010753606722,M12=0.6156614753256582,M21=-0.6156614753256582,M22=0.788010753606722);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.788010753606722,M12=0.6156614753256582,M21=-0.6156614753256582,M22=0.788010753606722);
  margin-left: -4px;
  margin-top: -5px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_6 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.984807753012208,M12=0.1736481776669304,M21=-0.1736481776669304,M22=0.984807753012208);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.984807753012208,M12=0.1736481776669304,M21=-0.1736481776669304,M22=0.984807753012208);
  margin-left: -2px;
  margin-top: -2px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_5 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.15643446504023092,M12=-0.9876883405951378,M21=0.9876883405951378,M22=0.15643446504023092);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.15643446504023092,M12=-0.9876883405951378,M21=0.9876883405951378,M22=0.15643446504023092);
  margin-left: -1px;
  margin-top: -3px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.10452846326765346,M12=-0.9945218953682733,M21=0.9945218953682733,M22=0.10452846326765346);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.10452846326765346,M12=-0.9945218953682733,M21=0.9945218953682733,M22=0.10452846326765346);
  margin-left: 0px;
  margin-top: -2px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Nine_9_Min {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Fourteen_14_Min {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_1 {
  rotation: 90.0;
  margin-left: 179px;
  margin-top: -179px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_2 {
  rotation: 90.0;
  margin-left: 179px;
  margin-top: -179px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Current_Location_Pin_Red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Seven_7_Min {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Pool_Blue_Circle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-UberX_Blue_Circle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Green_Driver_Area_Circle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Backdrop_Transparent_Rectangle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Enabled_Notification {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Disabled_Notification {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Background_Selection_Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Info_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Selection_Line {
  rotation: 90.0;
  margin-left: 20px;
  margin-top: -20px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Vehicle_Selection_Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Driver_Selection_Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Car_11 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.788010753606722,M12=0.6156614753256582,M21=-0.6156614753256582,M22=0.788010753606722);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.788010753606722,M12=0.6156614753256582,M21=-0.6156614753256582,M22=0.788010753606722);
  margin-left: -4px;
  margin-top: -5px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Select_Blue_Circle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Booking_Confirmation {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3a2a704b-efdd-4e2f-98d8-24d4bae18d38 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}