#s-4086381e-18d0-4141-8915-3f760db15058 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4086381e-18d0-4141-8915-3f760db15058 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_5 {
  position: absolute;
  top: 646px;
  left: 0px;
  width: 410px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_6 {
  position: absolute;
  top: 73px;
  left: 0px;
  width: 410px;
  height: 42px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_4 {
  position: absolute;
  top: 578px;
  left: 0px;
  width: 410px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_3 {
  position: absolute;
  top: 468px;
  left: 0px;
  width: 410px;
  height: 46px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_2 {
  position: absolute;
  top: 367px;
  left: 0px;
  width: 410px;
  height: 42px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_1 {
  position: absolute;
  top: 222px;
  left: 0px;
  width: 410px;
  height: 42px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 74px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 73px;
  background-color: #000000;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-button-back_9 {
  position: absolute;
  top: 33px;
  left: 10px;
  width: 32px;
  height: 22px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_82 {
  position: absolute;
  top: 0px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_82 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_82 span#rtr-s-Label_82_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_5 > svg {
  width: 24px;
  height: 22px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_2 {
  position: absolute;
  top: 36px;
  left: 37px;
  width: 57px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_2 {
  position: absolute;
  top: 222px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_3 {
  position: absolute;
  top: 117px;
  left: 2px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_14 {
  position: absolute;
  top: 124px;
  left: 43px;
  width: 94px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_7 > svg {
  width: 22px;
  height: 22px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_7 {
  position: absolute;
  top: 158px;
  left: 377px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_1 {
  position: absolute;
  top: 137px;
  left: 156px;
  width: 222px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 20px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 169px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 340px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_10 {
  position: absolute;
  top: 5px;
  left: 380px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_26 > svg {
  width: 17px;
  height: 17px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_26 {
  position: absolute;
  top: 1px;
  left: 41px;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_27 > svg {
  width: 14px;
  height: 14px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_27 {
  position: absolute;
  top: 3px;
  left: 336px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_1 {
  position: absolute;
  top: 237px;
  left: 13px;
  width: 116px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_4 {
  position: absolute;
  top: 267px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_5 {
  position: absolute;
  top: 317px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_6 {
  position: absolute;
  top: 412px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_2 {
  position: absolute;
  top: 277px;
  left: 79px;
  width: 159px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_3 {
  position: absolute;
  top: 333px;
  left: 79px;
  width: 159px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_8 > svg {
  width: 22px;
  height: 22px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_8 {
  position: absolute;
  top: 336px;
  left: 377px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_9 > svg {
  width: 22px;
  height: 22px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_9 {
  position: absolute;
  top: 280px;
  left: 377px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_4 {
  position: absolute;
  top: 383px;
  left: 13px;
  width: 116px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_5 {
  position: absolute;
  top: 428px;
  left: 79px;
  width: 159px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_11 > svg {
  width: 22px;
  height: 22px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_11 {
  position: absolute;
  top: 431px;
  left: 377px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_7 {
  position: absolute;
  top: 366px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_8 {
  position: absolute;
  top: 467px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_6 {
  position: absolute;
  top: 591px;
  left: 10px;
  width: 116px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_7 {
  position: absolute;
  top: 533px;
  left: 79px;
  width: 244px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_8 {
  position: absolute;
  top: 659px;
  left: 12px;
  width: 116px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_9 {
  position: absolute;
  top: 688px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_12 > svg {
  width: 22px;
  height: 22px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_12 {
  position: absolute;
  top: 657px;
  left: 377px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_10 {
  position: absolute;
  top: 517px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_11 {
  position: absolute;
  top: 578px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_9 {
  position: absolute;
  top: 479px;
  left: 94px;
  width: 240px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_9 span {
  color: #1FBAD6;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #1FBAD6;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_13 {
  position: absolute;
  top: 646px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_11 {
  position: absolute;
  top: 484px;
  left: 13px;
  width: 116px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_10 {
  position: absolute;
  top: 586px;
  left: 94px;
  width: 240px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_10 span {
  color: #1FBAD6;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #1FBAD6;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Line_14 {
  position: absolute;
  top: 619px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_16 > svg {
  width: 22px;
  height: 22px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_16 {
  position: absolute;
  top: 589px;
  left: 377px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_1 {
  position: absolute;
  top: 277px;
  left: 19px;
  width: 33px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_2 {
  position: absolute;
  top: 326px;
  left: 19px;
  width: 33px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_3 {
  position: absolute;
  top: 425px;
  left: 19px;
  width: 33px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Image_4 {
  position: absolute;
  top: 531px;
  left: 19px;
  width: 33px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Toggle-on {
  position: absolute;
  top: 528px;
  left: 304px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_15 {
  width: 62px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_15 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_15 .verticalalign {
  vertical-align: top;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_16 {
  width: 62px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_16 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_16 .verticalalign {
  vertical-align: top;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_19 {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 47px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_12 .content {
  width: 30px;
  height: 30px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_12 {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Toggle-off {
  position: absolute;
  top: 528px;
  left: 350px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_9 {
  width: 62px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_14 {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 47px;
  height: 30px;
  background-color: #4CD864;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_7 .content {
  width: 30px;
  height: 30px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_7 {
  position: absolute;
  top: 4px;
  left: 26px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_10 {
  width: 62px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Toggle-on_1 {
  position: absolute;
  top: 0px;
  left: 2px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_17 {
  width: 62px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_17 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_17 .verticalalign {
  vertical-align: top;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_18 {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 47px;
  height: 30px;
  background-color: #4CD864;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_11 .content {
  width: 30px;
  height: 30px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_11 {
  position: absolute;
  top: 4px;
  left: 26px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_18 {
  width: 62px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_18 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Panel_18 .verticalalign {
  vertical-align: top;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_20 {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 47px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_20 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_13 .content {
  width: 30px;
  height: 30px;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #s-Ellipse_13 {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_13 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4086381e-18d0-4141-8915-3f760db15058 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4086381e-18d0-4141-8915-3f760db15058 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}