#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Text_Passcode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Profile_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 #s-FingerPrint_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-56e319df-fd3c-497f-8466-a9f9088e4859 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}