#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-57636f74-234d-4143-adc3-a1e6104a45d2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}