#s-6f27c33b-e4e7-4c92-a004-e10be635b27d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-VehicleSelection_2 {
  position: absolute;
  top: 633px;
  left: 0px;
  width: 414px;
  height: 103px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Backgrounds_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 103px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Background_11 > svg {
  width: 414px;
  height: 103px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Background_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 103px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Circles_2 {
  position: absolute;
  top: 25px;
  left: 26px;
  width: 332px;
  height: 53px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Bar_2 > svg {
  width: 312px;
  height: 4px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Bar_2 {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 312px;
  height: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleLarge_2 > svg {
  width: 52px;
  height: 53px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleLarge_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 52px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleMedium_2 > svg {
  width: 30px;
  height: 33px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleMedium_2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_1_2 > svg {
  width: 12px;
  height: 14px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_1_2 {
  position: absolute;
  top: 20px;
  left: 89px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_2_2 > svg {
  width: 12px;
  height: 14px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_2_2 {
  position: absolute;
  top: 20px;
  left: 148px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_3_2 > svg {
  width: 12px;
  height: 14px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_3_2 {
  position: absolute;
  top: 20px;
  left: 203px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_4_2 > svg {
  width: 12px;
  height: 14px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_4_2 {
  position: absolute;
  top: 20px;
  left: 261px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_5_2 > svg {
  width: 12px;
  height: 14px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-CircleSmall_5_2 {
  position: absolute;
  top: 20px;
  left: 320px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Map_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Mask > svg {
  width: 414px;
  height: 736px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-NavigationBar_Light__Icons {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 129px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Backgrounds_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 129px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Background_1 > svg {
  width: 414px;
  height: 129px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Background_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 129px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-IconLeft {
  position: absolute;
  top: 64px;
  left: 19px;
  width: 25px;
  height: 40px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-iconarea > svg {
  width: 25px;
  height: 40px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-iconarea {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Menux30 > svg {
  width: 19px;
  height: 24px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Menux30 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 19px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-IconRight {
  position: absolute;
  top: 64px;
  left: 369px;
  width: 25px;
  height: 40px;
  display: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-iconarea_1 > svg {
  width: 25px;
  height: 40px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-iconarea_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-PicturePlaceholder > svg {
  width: 23px;
  height: 36px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-PicturePlaceholder {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 23px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-NavBar_Title {
  position: absolute;
  top: 62px;
  left: 120px;
  width: 174px;
  height: 41px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-TITLEVIEW_HERE {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 174px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 25.5pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-TITLEVIEW_HERE .valign {
  vertical-align: top;
  text-align: center;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-TITLEVIEW_HERE span {
  color: #090919;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 25.5pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-TITLEVIEW_HERE span#rtr-s-TITLEVIEW_HERE_0 {
  color: #090919;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 25.5pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-StatusBar_1 {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 401px;
  height: 20px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-StatusBar > svg {
  width: 401px;
  height: 20px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-StatusBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 401px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Overlay > svg {
  width: 414px;
  height: 736px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-MenuContent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 339px;
  height: 736px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-ItemOne {
  position: absolute;
  top: 207px;
  left: 19px;
  width: 228px;
  height: 40px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-ITEMONE {
  position: absolute;
  top: 1px;
  left: 49px;
  width: 179px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 21.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-ITEMONE .valign {
  vertical-align: top;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-ITEMONE span {
  color: #6A6A75;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-ITEMONE span#rtr-s-ITEMONE_0 {
  color: #6A6A75;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-BoudningBox > svg {
  width: 25px;
  height: 23px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-BoudningBox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-MenuBackground > svg {
  width: 339px;
  height: 736px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-MenuBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 339px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-MenuTop_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 319px;
  height: 188px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-MenuTop > svg {
  width: 319px;
  height: 188px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-MenuTop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 319px;
  height: 188px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-USERNAME {
  position: absolute;
  top: 76px;
  left: 155px;
  width: 150px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-USERNAME .valign {
  vertical-align: top;
  text-align: center;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-USERNAME span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-USERNAME span#rtr-s-USERNAME_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_5 {
  position: absolute;
  top: 437px;
  left: 75px;
  width: 150px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_6 {
  position: absolute;
  top: 489px;
  left: 75px;
  width: 198px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_7 {
  position: absolute;
  top: 537px;
  left: 75px;
  width: 198px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_7 span#rtr-s-Text_7_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_9 {
  position: absolute;
  top: 682px;
  left: 73px;
  width: 175px;
  height: 40px;
  background-color: #FF9900;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_1 {
  position: absolute;
  top: 338px;
  left: 75px;
  width: 148px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_2 {
  position: absolute;
  top: 240px;
  left: 75px;
  width: 150px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_3 {
  position: absolute;
  top: 289px;
  left: 75px;
  width: 148px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_4 {
  position: absolute;
  top: 386px;
  left: 75px;
  width: 148px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_10 {
  position: absolute;
  top: 194px;
  left: 75px;
  width: 150px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_1 {
  position: absolute;
  top: 202px;
  left: 15px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_2 {
  position: absolute;
  top: 248px;
  left: 16px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_3 {
  position: absolute;
  top: 297px;
  left: 16px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_5 {
  position: absolute;
  top: 346px;
  left: 16px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_7 {
  position: absolute;
  top: 394px;
  left: 15px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_8 {
  position: absolute;
  top: 444px;
  left: 15px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_9 {
  position: absolute;
  top: 496px;
  left: 15px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_10 {
  position: absolute;
  top: 545px;
  left: 15px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Line_3 {
  position: absolute;
  top: 240px;
  left: 0px;
  width: 319px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Line_4 {
  position: absolute;
  top: 287px;
  left: 0px;
  width: 319px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Line_5 {
  position: absolute;
  top: 336px;
  left: 0px;
  width: 319px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Line_6 {
  position: absolute;
  top: 385px;
  left: 0px;
  width: 319px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Line_7 {
  position: absolute;
  top: 433px;
  left: 0px;
  width: 319px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Line_9 {
  position: absolute;
  top: 483px;
  left: 0px;
  width: 319px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Line_10 {
  position: absolute;
  top: 535px;
  left: 0px;
  width: 319px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d #s-Image_4 {
  position: absolute;
  top: 20px;
  left: 37px;
  width: 100px;
  height: 139px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6f27c33b-e4e7-4c92-a004-e10be635b27d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}