#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_234 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_689 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_235 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_129 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_250 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_130 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_251 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_131 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_252 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_132 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_253 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_690 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_254 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_134 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_255 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_135 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_256 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_136 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_257 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_137 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_258 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_138 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_259 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_691 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_260 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_140 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_261 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_141 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}