#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Contact-list-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-header .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-header td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-header .verticalalign {
  vertical-align: top;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-header {
  width: 414px;
  height: 108px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Header-top {
  width: 414px;
  height: 64px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 118px;
  width: 180px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_83 {
  position: absolute;
  top: 33px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_83 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_83 span#rtr-s-Label_83_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Statusbar-white_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 20px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rectangle_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rectangle_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_40 {
  position: absolute;
  top: 0px;
  left: 169px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_40 span#rtr-s-Label_40_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_20 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_43 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_43 .content {
  width: 6px;
  height: 6px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_43 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_43 span#rtr-s-Ellipse_43_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_44 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_44 .content {
  width: 6px;
  height: 6px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_44 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_44 span#rtr-s-Ellipse_44_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_45 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_45 .content {
  width: 6px;
  height: 6px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_45 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_45 span#rtr-s-Ellipse_45_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_46 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_46 .content {
  width: 6px;
  height: 6px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_46 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_46 span#rtr-s-Ellipse_46_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_47 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_47 .content {
  width: 6px;
  height: 6px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_47 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #shapewrapper-s-Ellipse_47 span#rtr-s-Ellipse_47_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_62 {
  position: absolute;
  top: 1px;
  left: 340px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_62 span#rtr-s-Label_62_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_50 {
  position: absolute;
  top: 5px;
  left: 380px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_51 > svg {
  width: 14px;
  height: 14px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_51 {
  position: absolute;
  top: 3px;
  left: 337px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_52 > svg {
  width: 18px;
  height: 18px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_52 {
  position: absolute;
  top: 1px;
  left: 41px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_12 > svg {
  width: 22px;
  height: 22px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_12 {
  position: absolute;
  top: 32px;
  left: 376px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_303 {
  width: 414px;
  height: 45px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_302 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 45px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_234 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 44px;
  background-color: #CDCED2;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_234 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_234 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_234 span#rtr-s-Rich_text_234_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Input_23 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Input_23 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Input_23 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Input_23 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Input_23 {
  position: absolute;
  top: 7px;
  left: 10px;
  padding-left: 25px;
  width: 364px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Input_23 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Input_23 input {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_28 > svg {
  width: 15px;
  height: 15px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_28 {
  position: absolute;
  top: 14px;
  left: 173px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-content .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-content td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-content .verticalalign {
  vertical-align: middle;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-content {
  width: 414px;
  height: 628px;
  background-color: #F0EFF5;
  background-image: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_689 {
  padding-left: 14px;
  width: 400px;
  height: 25px;
  background-color: #F9F9F9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_689 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_689 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_689 span#rtr-s-Label_689_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_316 {
  width: 414px;
  height: 45px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_235 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_235 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_235 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_235 span#rtr-s-Rich_text_235_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_235 span#rtr-s-Rich_text_235_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_129 {
  position: absolute;
  top: 44px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_317 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_250 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_250 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_250 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_250 span#rtr-s-Rich_text_250_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_250 span#rtr-s-Rich_text_250_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_130 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_318 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_251 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_251 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_251 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_251 span#rtr-s-Rich_text_251_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_251 span#rtr-s-Rich_text_251_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_131 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_319 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_252 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_252 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_252 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_252 span#rtr-s-Rich_text_252_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_252 span#rtr-s-Rich_text_252_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_132 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_253 {
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_253 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_253 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_253 span#rtr-s-Rich_text_253_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_253 span#rtr-s-Rich_text_253_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_690 {
  padding-left: 14px;
  width: 400px;
  height: 25px;
  background-color: #F9F9F9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_690 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_690 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_690 span#rtr-s-Label_690_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_321 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_254 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_254 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_254 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_254 span#rtr-s-Rich_text_254_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_254 span#rtr-s-Rich_text_254_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_134 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_323 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_255 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_255 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_255 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_255 span#rtr-s-Rich_text_255_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_255 span#rtr-s-Rich_text_255_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_135 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_324 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_256 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_256 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_256 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_256 span#rtr-s-Rich_text_256_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_256 span#rtr-s-Rich_text_256_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_136 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_325 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_257 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_257 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_257 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_257 span#rtr-s-Rich_text_257_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_257 span#rtr-s-Rich_text_257_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_137 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_326 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_258 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_258 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_258 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_258 span#rtr-s-Rich_text_258_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_258 span#rtr-s-Rich_text_258_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_138 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_259 {
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_259 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_259 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_259 span#rtr-s-Rich_text_259_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_259 span#rtr-s-Rich_text_259_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_691 {
  padding-left: 14px;
  width: 400px;
  height: 25px;
  background-color: #F9F9F9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_691 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_691 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_691 span#rtr-s-Label_691_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_328 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_260 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_260 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_260 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_260 span#rtr-s-Rich_text_260_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_260 span#rtr-s-Rich_text_260_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_140 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Group_329 {
  width: 414px;
  height: 44px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_261 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 399px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_261 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_261 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_261 span#rtr-s-Rich_text_261_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_261 span#rtr-s-Rich_text_261_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_141 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}