#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Contact-list-Screen {
  border-collapse: separate;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-header > .valign {
  vertical-align: top;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_234 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Cell-content > .valign {
  vertical-align: middle;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_689 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_235 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_129 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_129 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_250 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_130 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_130 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_251 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_131 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_131 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_252 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_132 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_132 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_253 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_690 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_254 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_134 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_134 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_255 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_135 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_135 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_256 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_136 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_136 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_257 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_137 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_137 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_258 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_138 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_138 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_259 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Label_691 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_260 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_140 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_140 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Rich_text_261 {
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_141 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d #s-Line_141 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4c6e3a5-6491-4c8d-b04a-dd899fb5895d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}