#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 408px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 64px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Paragraph_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 20px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 169px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Group_3 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_2 .content {
  width: 6px;
  height: 6px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_3 .content {
  width: 6px;
  height: 6px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_3 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_4 .content {
  width: 6px;
  height: 6px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_4 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_5 .content {
  width: 6px;
  height: 6px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_5 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_6 .content {
  width: 6px;
  height: 6px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_2 {
  position: absolute;
  top: 1px;
  left: 340px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 380px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_9 > svg {
  width: 14px;
  height: 14px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_9 {
  position: absolute;
  top: 3px;
  left: 337px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_10 > svg {
  width: 18px;
  height: 18px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_10 {
  position: absolute;
  top: 1px;
  left: 41px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Line_2 {
  position: absolute;
  top: 687px;
  left: 0px;
  width: 412px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_1 {
  position: absolute;
  top: 542px;
  left: 268px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_5 {
  position: absolute;
  top: 412px;
  left: 0px;
  width: 414px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 18.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_6 {
  position: absolute;
  top: 470px;
  left: 0px;
  width: 414px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_6 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_6 span#rtr-s-Text_6_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Line_3 {
  position: absolute;
  top: 490px;
  left: 54px;
  width: 117px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Line_4 {
  position: absolute;
  top: 490px;
  left: 243px;
  width: 111px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}