#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bbcc593e-5b5f-4aa5-9fa8-f5a1327be4af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}