#s-c0f5d8fe-79f6-456b-a678-9663f6397111 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-VehicleSelection_2 {
  position: absolute;
  top: 783px;
  left: -132px;
  width: 414px;
  height: 103px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Backgrounds_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 103px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Background_11 > svg {
  width: 414px;
  height: 103px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Background_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 103px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circles_2 {
  position: absolute;
  top: 25px;
  left: 26px;
  width: 332px;
  height: 53px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Bar_2 > svg {
  width: 312px;
  height: 4px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Bar_2 {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 312px;
  height: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleLarge_2 > svg {
  width: 52px;
  height: 53px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleLarge_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 52px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleMedium_2 > svg {
  width: 30px;
  height: 33px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleMedium_2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_1_2 > svg {
  width: 12px;
  height: 14px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_1_2 {
  position: absolute;
  top: 20px;
  left: 89px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_2_2 > svg {
  width: 12px;
  height: 14px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_2_2 {
  position: absolute;
  top: 20px;
  left: 148px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_3_2 > svg {
  width: 12px;
  height: 14px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_3_2 {
  position: absolute;
  top: 20px;
  left: 203px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_4_2 > svg {
  width: 12px;
  height: 14px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_4_2 {
  position: absolute;
  top: 20px;
  left: 261px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_5_2 > svg {
  width: 12px;
  height: 14px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_5_2 {
  position: absolute;
  top: 20px;
  left: 320px;
  width: 12px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Map_7 {
  position: absolute;
  top: -2px;
  left: -23px;
  width: 473px;
  height: 760px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Map_6 {
  position: absolute;
  top: 0px;
  left: 23px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Mask_3 {
  position: absolute;
  top: 24px;
  left: 59px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_3 {
  position: absolute;
  top: 342px;
  left: 85px;
  width: 382px;
  height: 18px;
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_4 {
  position: absolute;
  top: 161px;
  left: 181px;
  width: 88px;
  height: 18px;
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -webkit-transform: rotate(179deg);
  -moz-transform: rotate(179deg);
  transform: rotate(179deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-AvatarPlaceholder_40x40_14 {
  position: absolute;
  top: 159px;
  left: 143px;
  width: 20px;
  height: 20px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circle_15 > svg {
  width: 20px;
  height: 20px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circle_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatar_15 > svg {
  width: 15px;
  height: 17px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatar_15 {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Header-top {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 437px;
  height: 136px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 23px;
  width: 412px;
  height: 134px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rich_text_22 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 417px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_1 {
  position: absolute;
  top: 95px;
  left: 36px;
  width: 88px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'Arial',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 38px;
  left: 30px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_2 {
  width: 356px;
  height: 54px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_1 > svg {
  width: 28px;
  height: 28px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_1 {
  position: absolute;
  top: 4px;
  left: 328px;
  width: 28px;
  height: 28px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Input_1 {
  position: absolute;
  top: 2px;
  left: 107px;
  padding-left: 5px;
  width: 168px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 24.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_1 {
  position: absolute;
  top: 25px;
  left: 33px;
  width: 47px;
  height: 12px;
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(89deg);
  -moz-transform: rotate(89deg);
  transform: rotate(89deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_2 {
  position: absolute;
  top: 7px;
  left: 21px;
  width: 41px;
  height: 13px;
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(179deg);
  -moz-transform: rotate(179deg);
  transform: rotate(179deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Triangle_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 26px;
  height: 22px;
  position: absolute;
  overflow: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Triangle_1 .content {
  width: 26px;
  height: 22px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Triangle_1 {
  position: absolute;
  top: 2px;
  left: -2px;
  width: 26px;
  height: 22px;
  background-color: #404040;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Triangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Dynamic_Panel_3Dmap {
  position: absolute;
  top: 492px;
  left: 381px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_1_3Dmap {
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_1_3Dmap td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_1_3Dmap .verticalalign {
  vertical-align: top;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  overflow: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_2 .content {
  width: 45px;
  height: 45px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  background-color: #ADAECA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #980000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #980000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #980000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #980000;
  opacity: 0.66;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_2 {
  position: absolute;
  top: 6px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_3 {
  position: absolute;
  top: 26px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Arrow_Panel_2 {
  position: absolute;
  top: 534px;
  left: 248px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_1 {
  width: 55px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 55px;
  height: 47px;
  position: absolute;
  overflow: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_1 .content {
  width: 55px;
  height: 47px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 47px;
  background-color: #999999;
  background-image: none;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  opacity: 0.66;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Statusbar-white_7 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 417px;
  height: 20px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 417px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_40 {
  position: absolute;
  top: 0px;
  left: 171px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Group_20 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_43 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_43 .content {
  width: 6px;
  height: 6px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_43 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_43 span#rtr-s-Ellipse_43_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_44 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_44 .content {
  width: 6px;
  height: 6px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_44 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_44 span#rtr-s-Ellipse_44_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_45 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_45 .content {
  width: 6px;
  height: 6px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_45 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_45 span#rtr-s-Ellipse_45_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_46 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_46 .content {
  width: 6px;
  height: 6px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_46 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_46 span#rtr-s-Ellipse_46_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_47 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_47 .content {
  width: 6px;
  height: 6px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_47 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #shapewrapper-s-Ellipse_47 span#rtr-s-Ellipse_47_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_62 {
  position: absolute;
  top: 1px;
  left: 342px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_62 span#rtr-s-Label_62_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_50 {
  position: absolute;
  top: 5px;
  left: 383px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_51 > svg {
  width: 14px;
  height: 14px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_51 {
  position: absolute;
  top: 3px;
  left: 339px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_52 > svg {
  width: 18px;
  height: 18px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_52 {
  position: absolute;
  top: 1px;
  left: 42px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-ARMap_Panel_1 {
  position: absolute;
  top: 77px;
  left: -414px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_3 {
  width: 326px;
  height: 574px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 322px;
  height: 570px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  opacity: 0.93;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_5 {
  position: absolute;
  top: 358px;
  left: 123px;
  width: 98px;
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  opacity: 0.55;
  -webkit-transform: rotate(272deg);
  -moz-transform: rotate(272deg);
  transform: rotate(272deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-OptionalHeader_5 {
  position: absolute;
  top: 687px;
  left: -1px;
  width: 550px;
  height: 74px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_2 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 414px;
  height: 71px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_5 {
  position: absolute;
  top: 18px;
  left: 28px;
  width: 302px;
  height: 44px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Pickup {
  position: absolute;
  top: 0px;
  left: 122px;
  width: 180px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Pickup .valign {
  vertical-align: top;
  text-align: left;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Pickup span {
  color: #6B6B76;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Pickup span#rtr-s-Pickup_0 {
  color: #6B6B76;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-TitleText_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 169px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-TitleText_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-TitleText_5 span {
  color: #222231;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-TitleText_5 span#rtr-s-TitleText_5_0 {
  color: #222231;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatarx40_29 {
  position: absolute;
  top: 0px;
  left: 47px;
  width: 360px;
  height: 50px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatarx40_28 > svg {
  width: 51px;
  height: 37px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatarx40_28 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 51px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Paragraph_31 {
  position: absolute;
  top: 14px;
  left: 18px;
  width: 15px;
  height: 10px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.5pt;
  font-family: 'ClanPro',Arial;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Paragraph_31 span {
  color: #F32F00;
  text-align: center;
  text-decoration: none;
  font-family: 'ClanPro',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 300;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #F32F00;
  text-align: center;
  text-decoration: none;
  font-family: 'ClanPro',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-AvatarPlaceholder_40x40_13 {
  position: absolute;
  top: 0px;
  left: 310px;
  width: 50px;
  height: 50px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circle_14 > svg {
  width: 50px;
  height: 50px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circle_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatar_14 > svg {
  width: 39px;
  height: 42px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatar_14 {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 39px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Iconx20_-_Right_11 {
  position: absolute;
  top: 16px;
  left: 510px;
  width: 40px;
  height: 35px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Iconx20_23 > svg {
  width: 40px;
  height: 35px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Iconx20_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-PicturePlaceholder_32 > svg {
  width: 36px;
  height: 32px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-PicturePlaceholder_32 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Map_5 {
  position: absolute;
  top: 33px;
  left: 507px;
  width: 414px;
  height: 736px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Map_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Mask_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}