#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Background_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Bar_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleLarge_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleMedium_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_2_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_3_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_4_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_5_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Map_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Mask_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_3 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(270.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_3 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(270.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_4 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(179.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_4 {
  border-top-width: 18px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(179.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatar_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_1 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(89.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_1 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(89.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_2 {
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(179.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_2 {
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(179.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Triangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #980000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #980000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #980000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #980000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: alpha(opacity=66);
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: alpha(opacity=66);
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93);
  filter: alpha(opacity=93);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_5 {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55) progid:DXImageTransform.Microsoft.Alpha(Opacity=55);
  filter: alpha(opacity=55) alpha(opacity=55);
  -ms-transform: rotate(272.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_5 {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55) progid:DXImageTransform.Microsoft.Alpha(Opacity=55);
  filter: alpha(opacity=55) alpha(opacity=55);
  -ms-transform: rotate(272.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Pickup {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-TitleText_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatarx40_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Paragraph_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatar_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Iconx20_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-PicturePlaceholder_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Map_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Mask_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}