#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Background_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Bar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleLarge_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleMedium_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_2_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_3_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_4_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-CircleSmall_5_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Map_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Mask_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_3 {
  rotation: 270.0;
  margin-left: 181px;
  margin-top: -182px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_4 {
  rotation: 179.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatar_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rich_text_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_1 {
  rotation: 89.0;
  margin-left: 16px;
  margin-top: -18px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_2 {
  rotation: 179.0;
  margin-left: -2px;
  margin-top: -2px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Triangle_1 {
  rotation: 270.0;
  margin-left: 2px;
  margin-top: -2px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: alpha(opacity=66);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: alpha(opacity=66);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
  filter: alpha(opacity=93) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Line_5 {
  rotation: 272.0;
  margin-left: 42px;
  margin-top: -45px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Pickup {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-TitleText_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatarx40_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Circle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Avatar_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Iconx20_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-PicturePlaceholder_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Map_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 #s-Mask_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c0f5d8fe-79f6-456b-a678-9663f6397111 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}