#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatarx40_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Circle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatar_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-FingerPrint_img {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9659258262890683,M12=-0.25881904510252074,M21=0.25881904510252074,M22=0.9659258262890683);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9659258262890683,M12=-0.25881904510252074,M21=0.25881904510252074,M22=0.9659258262890683);
  margin-left: -8px;
  margin-top: -6px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Profile_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_Passcode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}