#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatarx40_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Circle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatar_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-FingerPrint_img {
  -ms-transform: rotate(15.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Profile_img {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_Passcode {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}