#s-cc98ed91-5420-4129-a450-0563f603b087 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Image_2 {
  position: absolute;
  top: 132px;
  left: 87px;
  width: 240px;
  height: 236px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatarx40_17 {
  position: absolute;
  top: 583px;
  left: 17px;
  width: 58px;
  height: 58px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatarx40_16 > svg {
  width: 58px;
  height: 58px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatarx40_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Paragraph_1 {
  position: absolute;
  top: 21px;
  left: 20px;
  width: 18px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.5pt;
  font-family: 'ClanPro',Arial;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Paragraph_1 span {
  color: #F32F00;
  text-align: center;
  text-decoration: none;
  font-family: 'ClanPro',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 300;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #F32F00;
  text-align: center;
  text-decoration: none;
  font-family: 'ClanPro',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-AvatarPlaceholder_40x40_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Circle_9 > svg {
  width: 58px;
  height: 58px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Circle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatar_9 > svg {
  width: 45px;
  height: 49px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Avatar_9 {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 45px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Rectangle_1 {
  position: absolute;
  top: 500px;
  left: 0px;
  width: 408px;
  height: 228px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-FingerPrint_img {
  position: absolute;
  top: 565px;
  left: 183px;
  width: 54px;
  height: 61px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
  box-shadow: none;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Profile_img {
  position: absolute;
  top: 565px;
  left: 59px;
  width: 58px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_1 {
  position: absolute;
  top: 645px;
  left: 0px;
  width: 414px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_2 {
  position: absolute;
  top: 512px;
  left: 53px;
  width: 248px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_2 span {
  color: #465D43;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #465D43;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_Passcode {
  position: absolute;
  top: 686px;
  left: 1px;
  width: 414px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Helvetica Neue',Arial;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_Passcode .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_Passcode span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 100;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 #s-Text_Passcode span#rtr-s-Text_Passcode_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Helvetica Neue',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 100;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cc98ed91-5420-4129-a450-0563f603b087 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}