#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}