#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Paragraph_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d2a616e9-dc6e-418e-b38e-7c518e0f2fdd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}