#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Background_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Bar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-CircleLarge_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-CircleMedium_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-CircleSmall_1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-CircleSmall_2_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-CircleSmall_3_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-CircleSmall_4_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-CircleSmall_5_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Mask {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-iconarea {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Menux30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-iconarea_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-PicturePlaceholder {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-TITLEVIEW_HERE {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-StatusBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Overlay {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-ITEMONE {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-BoudningBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-MenuBackground {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-MenuTop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-USERNAME {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25) ;
  filter: alpha(opacity=25) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f2ee2ec7-0e17-48e0-b735-7544398a8a82 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}